<section class="page-layout">
  @if(isLoading()) {
    <mat-spinner class="self-center" />
  }

  <div class="flex gap-5">
    <app-monster
      [isLoading]="isLoading()"
      [monsterIndex]="monstersListService.activeMonsterIndex"
      class="w-1/2"
    />
    
    <div class="w-1/2 text-lg">
      <p>{{ texts.name }} {{ monsterDetails?.name }}</p>
      <p>{{ texts.alignment }} {{ monsterDetails?.alignment }}</p>
      <p>{{ texts.type }} {{ monsterDetails?.type }}</p>
      <p>{{ texts.charisma }} {{ monsterDetails?.charisma }}</p>
      <p>{{ texts.size }} {{ monsterDetails?.size }}</p>

      @if (monsterDetails?.desc) {
        {{ texts.description }} {{ monsterDetails?.desc }}
      } @else {
        <p>{{ texts.descriptionUnavailable }}</p>
      }

      <p>{{ texts.health }} {{ monstersData[monstersListService.activeMonsterIndex].health }}</p>
      <p>{{ texts.damage }} {{ monstersData[monstersListService.activeMonsterIndex].damage }}</p>
    </div>
  </div>
</section>
