<section *ngIf="isLoading !== true" class="page-layout">
  <div class="flex gap-5">
    <app-monster
      [isLoading]="isLoading"
      [monsterIndex]="monstersListService.activeMonsterIndex"
      class="w-1/2"
    />
    
    <div class="w-1/2 text-lg">
      <p>Name: {{ monsterDetails?.name }}</p>
      <p>Alignment: {{ monsterDetails?.alignment }}</p>
      <p>Monster type: {{ monsterDetails?.type }}</p>
      <p>Charisma: {{ monsterDetails?.charisma }}</p>
      <p>Size: {{ monsterDetails?.size }}</p>

      @if (monsterDetails?.desc) {
        Description: {{ monsterDetails?.desc }}
      } @else {
        <p>Description: Is not available</p>
      }

      <p>Health: {{ staticMonstersData[monstersListService.activeMonsterIndex].health }}</p>
      <p>Damage: {{ staticMonstersData[monstersListService.activeMonsterIndex].damage }}</p>
    </div>
  </div>
</section>
