<div class="relative w-fit">
  <div
    class="flex items-center justify-center w-28 h-28 text-2xl border"
    (mouseenter)="isHoveredItem(true)"
    (mouseleave)="isHoveredItem(false)"
  >
    ?
  </div>
  
  @if (isHovered()) {
    <div class="absolute -top-[90%] -right-12 shadow-lg bg-platinum text-[#000]">
      <div class="flex flex-col gap-1 p-2">
        <span>{{ droppedItem()?.name }}</span>
        <span *ngIf="droppedItem()?.damage">
          {{ droppedItemText.damage }} {{ droppedItem()?.damage }}
        </span>
        <span *ngIf="droppedItem()?.health">
          {{ droppedItemText.health }} {{ droppedItem()?.health }}
        </span>
        <span>{{ droppedItemText.type }} {{ droppedItem()?.type }}</span>
      </div>

      <span class="arrow"></span>
    </div>
  }
</div>
