<section class="page-layout gap-4">
  @if(isLoading()) {
    <mat-spinner class="self-center" />
  }

  @for (monster of monsters; track monster.url) {
    <a
      class="flex flex-row gap-10 cursor-pointer"
      [routerLink]="['/monster', monster.index]"
    >
      <img
        class="w-48 h-48"
        [src]="staticMonstersData[monster.index].src"
        alt="{{ monster.name }}"
        loading="lazy"
      />
      
      <div class="flex flex-col gap-4">
        <h3 class="text-xl font-semibold">{{ monster.name }}</h3>
        <span>Health: {{ staticMonstersData[monster.index].health }}</span>
        <span>Damage: {{ staticMonstersData[monster.index].damage }}</span>
      </div>
    </a>
  }
</section>
