<div class="flex flex-wrap justify-center gap-2 w-full">
  @for (inventoryItem of inventory$ | async; track $index) {
    <div class="flex justify-center items-center w-equipped-item h-equipped-item border border-platinum p-4">
      @if (inventoryItem) {
        <div class="relative">
          <app-equip-item
            [equipItem]="inventoryItem"
            (handleOpenMenu)="handleActiveMenu($event)"
          />

          <app-equip-item-menu
            [activeItem]="inventoryItem"
            (dropItem)="onDropItem(inventoryItem)"
            (equipItem)="onEquipItem($event)"
            [isHeroPage]="true"
            [isOpen]="activeMenuId() === inventoryItem.id"
          />
        </div>
      }
    </div>
  }
</div>
