@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: #393E41;  /* Onyx */
    font-size: 100%;
    color: #E7E5DF;    /* Platinum */
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1224px) {
      max-width: 1224px;
    }
  }
}

@layer components {
  .equipWrapper > :last-child {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
  }
}
