@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: #fff;
    font-size: 100%;
    color: #000;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    /* @apply desktop:max-w-[1224px]; */
    @media (min-width: 1224px) {
      max-width: 1224px;
    }
  }
}
