<div class="relative w-fit">
  @if (isHovered() && !isMenuOpen()) {
    <div class="absolute -top-[90%] transform -left-1/2 translate-x-1/2 w-max shadow-lg rounded bg-platinum text-black">
      <div class="flex flex-col gap-1 p-2">
        <span>{{ droppedItem()?.name }}</span>
        <span *ngIf="droppedItem()?.damage">
          {{ texts.damage }} {{ droppedItem()?.damage }}
        </span>
        <span *ngIf="droppedItem()?.health">
          {{ texts.health }} {{ droppedItem()?.health }}
        </span>
        <span>{{ texts.type }} {{ droppedItem()?.type }}</span>
      </div>

      <span class="arrow"></span>
    </div>
  }

  <div
    class="flex items-center justify-center w-28 h-28 text-2xl border cursor-pointer"
    (click)="toggleMenu()"
    (mouseenter)="isHoveredItem(true)"
    (mouseleave)="isHoveredItem(false)"
  >
    ?
  </div>

  <!-- when you pass function to children [onPickItem]="onPickItem.bind(this)" -->
  <app-dropped-item-menu [isOpen]="isMenuOpen()" (pickItem)="onPickItem()" (dropItem)="onDropItem()" />
</div>
