<div class="flex flex-col justify-center gap-5 h-full">
  @if (equippedItems().equippedArmor) {
    <div class="relative">
      <button (click)="onClick(EEquipVariants.Armor)">
        <app-dropped-item [droppedItem]="equippedItems().equippedArmor!" />
      </button>
      
      <div class="menu shadow-lg" [class]="{ 'is-open': isMenuOpen(EEquipVariants.Armor), 'is-closed': isMenuOpen(EEquipVariants.Armor) }">
        <button class="menu-item" (click)="unEquip(equippedItems().equippedArmor)">
          {{ texts.unequip }}
        </button>

        <span class="arrow"></span>
      </div>
    </div>
  } @else {
    <app-icon
      class="flex justify-center items-center w-equipped-item h-equipped-item border-2"
      [variant]="EIconVariants.Armor"
      fill="#d3d0cb"
    />
  }
  
  @if (equippedItems().equippedWeapon) {
    <div class="relative">
      <button (click)="onClick(EEquipVariants.Weapon)">
        <app-dropped-item [droppedItem]="equippedItems().equippedWeapon!" />
      </button>

      <div class="menu shadow-lg" [class]="{ 'is-open': isMenuOpen(EEquipVariants.Weapon), 'is-closed': isMenuOpen(EEquipVariants.Weapon) }">
        <button class="menu-item" (click)="unEquip(equippedItems().equippedWeapon)">
          {{ texts.unequip }}
        </button>

        <span class="arrow"></span>
      </div>
    </div>
  } @else {
    <app-icon
      class="flex justify-center items-center w-equipped-item h-equipped-item border-2"
      [variant]="EIconVariants.Weapon"
      fill="#d3d0cb"
    />
  }

</div>
