<div class="flex flex-col gap-2 h-[150px]">
  <span class="text-xl text-keppel font-medium">{{ texts.loot }}</span>

  <div class="realtive flex gap-5">
    @for (droppedItem of droppedItems(); track droppedItem.id) {
      <div class="relative w-fit">
        <app-equip-item
          [equipItem]="droppedItem"
          [isMenuOpen]="activeMenuId() === droppedItem.id"
          (handleOpenMenu)="handleOpenMenu($event)"
        />

        <!-- when you pass function to children [onPickItem]="onPickItem.bind(this)" -->
        <app-equip-item-menu
          (dropItem)="onDropItem(droppedItem)"
          (pickItem)="onPickItem(droppedItem)"
          [isOpen]="activeMenuId() === droppedItem.id"
        />
      </div>
    }
  </div>
</div>
