<div class="flex flex-col gap-2 min-h-40">
  <span class="text-3xl text-keppel font-semibold">
    {{ texts.loot }} 

    <span class="text-xl font-medium" *ngIf="monster.health <= 0">
      + {{ monster.experience }}&nbsp;{{ texts.experience }}
    </span>
  </span>

  <div class="realtive flex flex-wrap gap-5 w-full">
    @for (droppedItem of droppedItems(); track droppedItem.id) {
      <div class="relative w-fit">
        <app-equip-item
          [equipItem]="droppedItem"
          [isMenuOpen]="activeMenuId() === droppedItem.id"
          (handleOpenMenu)="handleOpenMenu($event)"
        />

        <!-- when you pass function to children [onPickItem]="onPickItem.bind(this)" -->
        <app-equip-item-menu
          (dropItem)="onDropItem(droppedItem)"
          (pickItem)="onPickItem(droppedItem)"
          [isOpen]="activeMenuId() === droppedItem.id"
        />
      </div>
    }
  </div>
</div>
