<section class="page-layout">
  <div class="relative flex flex-row gap-10 desktop:gap-96 w-full pb-40">
    <div class="w-full md:h-[350px] desktop:h-[500px]">
      <app-hero />

      <character-stats
        [damage]="heroService.heroAttributes.damage"
        [health]="heroService.heroAttributes.health"
        [name]="heroService.heroAttributes.name"
      />
    </div>

    <span [class]="{ fight: true }">
      {{ fightDetails().character }}
    </span>

    <div class="w-full md:h-[350px] desktop:h-[500px]">
      <app-monster [monsterIndex]="monsterService.randomMonsterKey" />
      
      <character-stats
        [damage]="monsterUnit.damage"
        [name]="monsterUnit.name"
        [health]="monsterUnit.health"
      />
    </div>
  </div>

  <!-- @if (droppedItem()) { -->
  <app-dropped-item class="w-fit" />
  <!-- } -->

  <div class="flex flex-col desktop:flex-row gap-5 pt-28 w-full">
    <button class="extended-button" (click)="startFight()" mat-fab extended>
      {{ buttonsTexts.start }}
    </button>

    <button class="extended-button" (click)="endFight()" mat-fab extended>
      {{ buttonsTexts.end }}
    </button>

    <button class="extended-button" (click)="findNewMonster()" mat-fab extended>
      {{ buttonsTexts.new }}
    </button>
  </div>
</section>
