.fight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
}

.extended-button {
  font-size: 20px;
  width: max-content;
  height: 65px;
}
