<section class="page-layout">
  <div class="relative flex flex-row gap-10 desktop:gap-96 w-full pb-36">
    <div class="w-full md:h-[350px] desktop:h-[500px]">
      <app-hero />

      <character-stats
        [damage]="heroUnit.damage"
        [health]="heroUnit.health"
        [name]="heroUnit.name"
      />
    </div>

    <span [class]="{ fight: true }">
      {{ fightDetails().infoText }}
    </span>

    <div class="w-full md:h-[350px] desktop:h-[500px]">
      <app-monster [monsterIndex]="monsterService.randomMonsterKey" />
      
      <character-stats
        [damage]="monsterUnit.damage"
        [name]="monsterUnit.name"
        [health]="monsterUnit.health"
      />
    </div>
  </div>

  <span class="block self-center pb-8 text-xl text-saffron font-medium desktop:hidden">
    {{ fightDetails().infoText }}
  </span>

  <app-equip-items class="w-fit" />

  <div class="flex flex-col desktop:flex-row gap-5 pt-28 w-full">
    <button
      class="extended-button"
      disabled="{{ fightDetails().isFightOn || heroOrMonsterIsDefeated }}"
      (click)="startFight()"
      mat-fab
      extended
    >
      {{ buttonsTexts.start }}
    </button>

    <button
      class="extended-button"
      disabled="{{ heroOrMonsterIsDefeated }}"
      (click)="endFight()"
      mat-fab
      extended
    >
      {{ buttonsTexts.end }}
    </button>

    <button
      class="extended-button"
      disabled="{{ fightDetails().isFightOn }}"
      (click)="findNewMonster()"
      mat-fab
      extended
    >
      {{ buttonsTexts.new }}
    </button>
  </div>
</section>
