<section class="page-layout gap-44">
  <div class="relative flex flex-col desktop:flex-row gap-96 w-full">
    <div class="w-full h-[500px]">
      <app-hero />

      <character-stats
        [damage]="heroService.heroAttributes.damage"
        [health]="heroService.heroAttributes.health"
        [name]="heroService.heroAttributes.name"
      />
    </div>

    <span [class]="{ fight: true }">
      {{ fightDetails.character }}
    </span>

    <div class="w-full h-[500px]">
      <app-monster [monsterIndex]="monsterService.randomMonsterKey" />
      
      <character-stats
        [damage]="monsterRandomUnit.damage"
        [name]="monsterRandomUnit.name"
        [health]="monsterRandomUnit.health"
      />
    </div>
  </div>
  
  <div class="flex gap-5">
    <button class="border-2 px-8 py-4 text-xl" (click)="startFight()">
      Start Fight
    </button>

    <button class="border-2 px-8 py-4 text-xl" (click)="endFight()">
      End battle
    </button>

    <button class="border-2 px-8 py-4 text-xl" (click)="findNewMonster()">
      Find new monster
    </button>
  </div>
</section>
