.menu {
  position: absolute;
  bottom: -100px;
  left: 50%;
  z-index: 5;
  flex-direction: column;
  width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  color: black;
  background-color: #b0bec5;
}

.is-open {
  display: flex;
}

.is-closed {
  display: none;
}

.menu-item {
  padding: 8px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e7e5df;
}

.arrow {
  position: absolute;
  top: -8px;
  left: 15px;
  z-index: 5;
  overflow: hidden;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #b0bec5;
}
