<section class="page-layout flex flex-col gap-12 w-full">
  <div class="flex flex-col desktop:flex-row gap-5 w-full">
    <app-hero class="desktop:w-[40%] h-[500px] border-4 border-timberWolf" #hero></app-hero>

    <div class="relative flex flex-col justify-between items-start gap-5 desktop:pl-24 w-[35%] equipWrapper">
      <div *ngFor="let equipIcon of equipIcons" class="flex justify-center items-center border w-[100px] h-[110px]">
        <app-icon [variant]="equipIcon" fill="#d3d0cb"></app-icon>
      </div>
    </div>

    <div class="flex flex-col pl-10 w-[25%] text-lg">
      <span>Hrdina: 
        <span class="text-xl text-saffron">{{ hero.heroAttributes.name }}</span>
      </span>
      <span>Brnění:
        <span class="text-xl text-saffron">{{ hero.heroAttributes.armor }}</span>
      </span>
      <span>Životy:
        <span class="text-xl text-saffron">{{ hero.heroAttributes.health }}</span>
      </span>
      <span>Poškození:
        <span class="text-xl text-saffron">{{ hero.heroAttributes.damage }}
          <span *ngIf="hero.weapon.damage > 0" class="text-keppel"> + {{ hero.weapon.damage }}</span>
        </span>
      </span>
      <span>Level: 
        <span class="text-xl text-saffron">{{ hero.heroAttributes.level }}</span>
      </span>
    </div>
  </div>

  <hero-inventory></hero-inventory>
</section>
